.container {
  max-width: 1440px;
  padding: 25px 100px;
}

.details_list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;

  li {
    //display: flex;
    //align-items: center;
    margin-bottom: 15px;

    &:before {
      content: "+";
      color: green;
      margin-right: 10px;
      font-size: 36px;
    }

    &.minus:before {
      content: "-";
      color: red;
      font-size: 36px;
    }
  }
}

.title_minus {
  margin: 50px;
}
